<ul class=" lg:flex font-semibold text-white text-lg gap-8 xl:gap-14">
    <li class=" p-3 border-t lg:border-0 ease-linear smooth-auto">
        <a [routerLink]="['']" >Home</a>
    </li>
    <li class="border-t  p-3 lg:border-0 ease-linear smooth-auto ">
        <a href="#aboutus">About us</a>
    </li>
    <li class="border-t  p-3 lg:border-0 ease-linear smooth-auto ">
        <a href="#services">Services</a>
    </li>
    <li class="border-y p-3 lg:border-0  ease-linear smooth-auto">
        <a href="#reviews">Reviews</a>
    </li>
</ul>
