<section class ="bg-white  h-full pt-48  p-4 ">
    <div class ="container pt-20  mb-auto  border border-red-500 relative flex">
        <div class="mx-10  border border-green-600 relative">
            <div class=" mb-12  border-4 border-white shadow-inner-2xl max-w-md p-3">
        
            <h1 class="text text-gray-400 text-3xl py-3">
                Collaborate smarter,<span class="text-white font-semibold" >not harder - with our platform!</span>
            </h1>
            <p class="text-yellow-50 text-xl py-3 font-serif">
                Empower your team to work together seamlessly with our collaborative platform
            </p>
            <app-button (click)="onBtnClick()" name="Start collabing" size="L" shades="D" animation="C"><a [routerLink]="['login']" ></a></app-button>
            </div>
        </div>
        <div class="ml mx-auto mt-1 relative">
            <div class="border-7 border-green-600 mb-12 border-4 p-5 mx-auto  max-w-md">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus similique sunt tenetur autem cum ea a voluptatum, vel enim facere, nisi qui aperiam, totam dolorem illo esse ab porro quos.    
                    

            </div>
            
        </div>
      
    </div>     
    <div class ="container pt-20  mb-auto  border border-red-500 relative " id="aboutus  ">

        <div class="mx-10 w-200 border border-green-600">
           <h1 class="text-center text-serif text-5xl text-blue-900 font-bold drop-shadow-md ">ABOUT US</h1>
            
        </div>
        <div class="flex">
        <div class="border border-red-500 max-w-md mx-auto mt-5  relative font-serif pt-8 p-5 mb-3">
            Our company provides a comprehensive platform that enables people to collaborate and interact with each other on official matters. Whether it's project management, task delegation, or simply sharing ideas and feedback, our platform allows for seamless collaboration and communication. <span class="font-semibold text-blue-900">With easy-to-use tools and features, our platform streamlines the entire process, making it easier than ever for teams to work together efficiently and effectively. Whether you're in the same office or on opposite sides of the world, our platform brings everyone together to achieve common goals and drive success.
        </span></div>    
        <div class=" ml mx-auto mt-5">
            <div class=" border-7 border-gray-400 mb-12 border-4 bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 p-5 mx-auto  max-w-md">
                <img src="../../assets/2023-4-9/Fotor_AI（3）.png" width="300px" height="300px" class="">
            
            </div>
            
        </div>
        </div>
    </div>
    <div class ="container pt-20  mb-auto  border border-red-500 relative " id="services">
        <div class="mx-10 w-200 border border-green-600">
           <h1 class="text-center text-serif text-5xl text-blue-900 font-bold drop-shadow-md ">SERVICES</h1>
            
        </div>
        <div class="flex">
            
        <div class=" ml mx-auto mt-5">
            <div class=" border-7 border-gray-400 mb-12 border-4 bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 p-5 mx-auto  max-w-md">
                <img src="../../assets/2023-4-9/Fotor_AI（2）.png" width="300px" height="300px" class="">
            
            </div>
            
        </div>
        <div class="border border-red-500 max-w-md mx-auto mt-5 relative">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem sapiente ullam voluptatem sed. Cumque quasi qui alias voluptas, repellat impedit in est facere culpa, minima ex debitis error, amet obcaecati.
        </div> 
        </div>
    </div>
    <div class ="container pt-20  mb-auto  border border-red-500 relative " id="reviews">
        <div class="mx-10 w-200 border border-green-600">
           <h1 class="text-center text-serif text-5xl text-blue-900 font-bold drop-shadow-md ">REVIEWS</h1>
            
        </div>
        <div class="flex">
        <div class="border border-red-500 max-w-md mx-auto mt-5 relative">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem sapiente ullam voluptatem sed. Cumque quasi qui alias voluptas, repellat impedit in est facere culpa, minima ex debitis error, amet obcaecati.
        </div>    
        <div class=" ml mx-auto mt-5">
            <div class=" border-7 border-gray-400 mb-12 border-4 bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 p-5 mx-auto  max-w-md">
                <img src="../../assets/2023-4-9/Fotor_AI（1）.png" width="300px" height="300px" class="">
            
            </div>
            
        </div>
        </div>
    </div>
    
</section>
